.vscode/**
.vscode-test/**
src/**
node_modules/**
scripts/**
.gitignore
tsconfig.json
**/*.ts
**/*.map
!out/**
icons/hao-preview.png
icons/hao-for-trace.png
icons/hao-alpha.png
icons/hao-traced.svg
icons/hao-traced-clean.svg
icons/hao-dark.svg
icons/hao-light.svg
icons/hao-dark.png
icons/hao-light.png
*.vsix
